.liquid-tether-element {
  position: absolute;
}

.liquid-target-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.liquid-target {
  position: relative;
}

.liquid-wormhole-container {
  display: none;
}
