.flyout {
  width: 500px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -50px;
  padding: 20px 74px 20px 24px;

  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);

  z-index: $zindex-modal;

  background-color: $modal-content-bg;
  border-left: 2px solid $modal-content-border-color;
  @include box-shadow(0px 2px rgba(0,0,0,0.15));
}

.notification {
  width: 500px;
  position: fixed;
  top: 10px;
  right: 10px;

  z-index: $zindex-modal;

  background-color: $modal-content-bg;
  border-left: 2px solid $modal-content-border-color;
  @include box-shadow(0px 2px rgba(0,0,0,0.15));
}
