$modal-backdrop-bg:           rgba(36, 51, 66, 0.66);
$modal-content-bg:            white;
$modal-content-border-radius: 7px;
$modal-content-border-color:  mix($brand-primary, white, 10%);
$modal-content-box-shadow:    -14px 14px 0 0 rgba(0,0,0,.35);
$modal-footer-bg:             mix($brand-primary, white, 10%);
$zindex-modal-background:     1040;
$zindex-modal:                1050;

//
// Modals
// --------------------------------------------------

// Background
.modal-backdrop {
  z-index: 0;
  background-color: $modal-backdrop-bg;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-target .liquid-tether-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

// Container that the modal scrolls within
.modal {
  display: block;
  margin: 0;
  z-index: $zindex-modal-background;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  z-index: ($zindex-modal-background + 10);
}

// Actual modal
.modal-content {
  width: 624px;
  background-color: $modal-content-bg;
  border: 2px solid $modal-content-border-color;
  border-radius: $modal-content-border-radius;
  @include background-clip(border-box);
  @include box-shadow($modal-content-box-shadow);
  overflow: hidden;
  padding-bottom: 80px;

  @media (max-width: 767px) {
    & {
      width: auto;
    }
  }
  @media (max-width: 480px) {
    & {
      @include box-shadow(none);
    }
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 17px 19px 15px 24px;
  border-bottom: 1px solid $modal-content-border-color;
  white-space: nowrap;
}

 // Close icon
.modal-header .close {
  margin: 5px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: $brand-primary;
}

// Title text within header
.modal-title {
  margin: 0;
  font-size: ceil($component-font-size-base * 1.60); // ~24px
  line-height: 30px;
}

// Body (where all modal content resides)
.modal-body {
  padding: 20px 24px 20px;

  p {
    font-size: floor($component-font-size-base * 1.067); // ~16px
    line-height: 1.625; // ~26px
  }
}

// Footer (for actions)
.modal-footer {
  height: 80px;
  padding: 19px 22px 20px;
  margin-top: 0;
  background-color: $modal-footer-bg;
  border-top: none;
  border-radius: 0 0 $modal-content-border-radius $modal-content-border-radius;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .btn + .btn {
    margin-left: 12px;
  }

  @media (max-width: 480px) {
    & {
      .btn {
        display: block;
        min-width: auto;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      .btn + .btn {
        margin-left: 0;
      }
    }
  }
}

// Scale up the modal
@media screen and (min-width: 768px) {

  .modal-dialog {
    margin: 0;
  }

}
