.navbar {
  @media screen and (max-width: 768px) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .navbar-brand {
    font-size: 20px;
    line-height: 26px;
    font-weight: 100;

    &:hover {
      color: white;
    }
  }

  .navbar-nav.navbar-left {
    li > a {
      font-weight: 400;
    }

    &:first-child {
      margin: 0;

      li:first-child > a {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .navbar-toggle.fa {

    @media (min-width: 768px) {
      display: none;
    }

    &::before {
      font-family: FontAwesome;
    }
  }

  .fa.fa-github {
    font-size: 2em;
    margin: -0.5em 0;
    vertical-align: sub;
  }

  .navbar-break {
    @media (max-width: 767px) {
        border-top: solid 2px #2f4154;
    }
  }
}
