.navbar {
  .navbar-brand {
    font-weight: 400;
  }

  .nav-item {
    font-weight: 400;

    &:first-child > a, &:last-child > a {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .navbar-nav.navbar-left:first-child {
    margin: 0;
  }

  .navbar-toggle.fa {

    @media (min-width: 768px) {
      display: none;
    }

    &::before {
      font-family: FontAwesome;
    }
  }

  .fa.fa-github {
    font-size: 2em;
    margin: -0.5em 0;
    vertical-align: sub;
  }

  .navbar-break {
    @media (max-width: 767px) {
        border-top: solid 2px #2f4154;
    }
  }
}
