@import 'bootstrap';
@import 'modals';
@import 'flyouts';
@import 'popovers';
@import 'tabs';
@import 'navigation';
@import 'typography';

body {
  margin: 0;
  background-color: $clouds;
  font-weight: 100;
}

.main-container {
  padding: 0 20px 100px;

  @media screen and (min-width: 768px) {
    padding-left: 270px;
  }
}

.example-button-container {
  margin: 40px;

  &.frontpage {
    #hello-world {
      margin: 60px 0;
    }
  }
}

#hello-world-popover {
  max-width: 430px;
}

.fixed-to-bottom {
  position: fixed;
  bottom: 0;
  padding: 20px 24px 20px 0;
}

.red-box, .blue-box, .green-box {
  padding: 20px;
  color: white;
}

.red-box {
  background-color: red;
}

.blue-box {
  background-color: blue;
}

.green-box {
  background-color: green;
}
