@import 'bootstrap';
@import 'modals';
@import 'flyouts';
@import 'popovers';
@import 'tabs';
@import 'navigation';
@import 'typography';

body {
  margin: 0;
  font-size: 14px;
  // don't show scrollbars for certain transitions
  overflow-x: hidden;
}

.main-container {
  @extend .container;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 0;
}

.feature-example {
  font-size: 10em;
  text-align: center;
}

.example-button-container {
  margin: 40px;
  text-align: center;
}

.front-page-container-1 {
  margin-bottom: 20px;
  text-align: center;
}

.front-page-container-2 {
  margin-bottom: 40px;
  text-align: center;
}

.fixed-to-bottom {
  position: fixed;
  bottom: 0;
  padding: 20px 74px 20px 0;
}

.red-box, .blue-box, .green-box, .yellow-box, .orange-box {
  padding: 20px;
  color: white;
}

.red-box {
  background-color: red;
}

.blue-box {
  background-color: blue;
}

.green-box {
  background-color: green;
}

.yellow-box {
  background-color: yellow;
}

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
