<button data-test-toggle type="button" {{on "click" this.toggleModal}}>Toggle</button>

{{#unless this.hideModal}}
  <LiquidTether @target="document.body" @attachment="middle center" @class="component-in-tether">
    <TestComponent>
      testing
    </TestComponent>
  </LiquidTether>
{{/unless}}
