<button {{action "toggleModal"}}>Toggle</button>

{{#unless hideModal}}
  {{#liquid-tether target="document.body" attachment="middle center" class="component-in-tether"}}
    {{#test-component}}
      testing
    {{/test-component}}
  {{/liquid-tether}}
{{/unless}}
