<div class="green-box">
  Target
</div>

<LiquidTether @target=".green-box" @attachment="top left" @targetAttachment="bottom left" @class="red-box">
  Outer Tether

  <LiquidTether @target=".red-box" @attachment="top left" @targetAttachment="bottom left" @class="blue-box">
    Middle Tether
  </LiquidTether>
</LiquidTether>

<LiquidTether @target=".blue-box" @attachment="top left" @targetAttachment="bottom left" @class="yellow-box">
  Other Tether
</LiquidTether>
