<nav class='navbar navbar-inverse navbar-embossed'>
  <div class='navbar-header'>
    <button
      type='button'
      class='navbar-toggle fa fa-bars'
      {{action 'toggleNav'}}
    >
      <span class='sr-only'>
        Toggle navigation
      </span>
    </button>
    <span class='navbar-brand'>
      Liquid Tether
    </span>
  </div>
  <div class='navbar-collapse {{unless this.navOpen 'collapse'}}'>
    <ul class='nav navbar-nav navbar-left'>
      {{#link-to 'index' class='nav-item' tagName='li'}}
        <a>
          Introduction
        </a>
      {{/link-to}}
      {{#link-to 'docs' class='nav-item' tagName='li'}}
        <a>
          Docs
        </a>
      {{/link-to}}
      {{#link-to 'upgrading' class='nav-item' tagName='li'}}
        <a>
          Upgrading
        </a>
      {{/link-to}}
    </ul>
    <ul class='nav navbar-nav navbar-right navbar-break'>
      <li>
        <a class='nav-item' href='https://github.com/pzuraq/liquid-tether'>
          GitHub
          <span class='fa fa-github'></span>
        </a>
      </li>
    </ul>
  </div>
</nav>