<body class="ember-application">
  <div class="liquid-target-container">
    <div class="liquid-target">
      <div class="liquid-tether-overlay {{overlayClass}}"></div>
      <div class="liquid-tether {{tetherClass}}">
        <!-- Tether body -->
      </div>
    </div>
  </div>

  <div>
    <!-- Ember App body -->
  </div>
</body>
