<ul class="nav nav-tabs nav-append-content">
  {{#if $template}}
    {{#ui-tab tagName="li" target=$template currentTab=currentTab on-click="changeTab"}}
      <a>
        Template
      </a>
    {{/ui-tab}}
  {{/if}}
  {{#if $js}}
    {{#ui-tab tagName="li" target=$js currentTab=currentTab on-click="changeTab"}}
      <a>
        JS
      </a>
    {{/ui-tab}}
  {{/if}}
  {{#if $styles}}
    {{#ui-tab tagName="li" target=$styles currentTab=currentTab on-click="changeTab"}}
      <a>
        Styles
      </a>
    {{/ui-tab}}
  {{/if}}
  {{#if $transitions}}
    {{#ui-tab tagName="li" target=$transitions currentTab=currentTab on-click="changeTab"}}
      <a>
        Transitions
      </a>
    {{/ui-tab}}
  {{/if}}
</ul>

<div class="tab-content">
  {{yield}}
</div>
