<div class='row'>
  <div class='col-xs-12 col-sm-3'>
    <ul class='nav nav-pills nav-stacked'>
      <li>
        <LinkTo @route='docs.index'>
          The Basics
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='docs.parameters'>
          Parameters
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='docs.stacks'>
          Stacks
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='docs.routed-tethers'>
          Routed Tethers
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='docs.dynamic-targets'>
          Dynamic Targets
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='docs.destinations'>
          Custom Destinations
        </LinkTo>
      </li>
      <li>
      <LinkTo @route='docs.components'>
          Sending Components
      </LinkTo>
      </li>
    </ul>
  </div>

  <div class='col-xs-12 col-sm-9'>
    {{outlet}}
  </div>
</div>