<div class="row">
  <div class="col-xs-12 col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      {{#link-to route="docs.index" tagName="li"}}<a>The Basics</a>{{/link-to}}
      {{#link-to route="docs.parameters" tagName="li"}}<a
        >Parameters</a>{{/link-to}}
      {{#link-to route="docs.stacks" tagName="li"}}<a>Stacks</a>{{/link-to}}
      {{#link-to route="docs.routed-tethers" tagName="li"}}<a>Routed Tethers</a>{{/link-to}}
      {{#link-to route="docs.dynamic-targets" tagName="li"}}<a>Dynamic Targets</a>{{/link-to}}
      {{#link-to route="docs.destinations" tagName="li"}}<a>Custom Destinations</a>{{/link-to}}
      {{#link-to route="docs.components" tagName="li"}}<a>Sending Components</a>{{/link-to}}
    </ul>
  </div>

  <div class="col-xs-12 col-sm-9">
    {{outlet}}
  </div>
</div>