<h1>Introducing Liquid Tether</h1>

<h2>Modals made easy</h2>

<p>
  Liquid Tether combines the ideas behind
  <a href="https://github.com/yapplabs/ember-tether.git">Ember Tether</a> with
  the power of <a href="http://ef4.github.io/liquid-fire/">Liquid Fire</a> to
  provide an accessible, easy-to-use toolkit for both positioning & animating UI
  elements.
</p>

<div class="example-button-container">
  <button {{action 'toggleHello'}} id="hello-world-button" class="btn btn-primary btn-embossed">
    Hello, World!
  </button>

  {{#if showHello}}
    {{#liquid-tether
      to="hello-world"
      target="#hello-world-button"
      attachment="middle left"
      targetAttachment="middle right"
      class="container123"
      tetherClass="tether123"
      overlayClass="overlay123"
    }}
      <div id="hello-world-popover" class="popover right">
        <div class="arrow"></div>
        <div class="popover-title">
          Hello!
        </div>
      </div>
    {{/liquid-tether}}
  {{/if}}
</div>

<p>
  Modals, popovers, dropdowns, tooltips! Any element that needs to be absolutely
  positioned with respect to some other element (or the window itself) can be
  quickly and easily animated with the full flexibility of Liquid Fire
  transitions.
</p>

<p>
  Credits to <a href="https://github.com/ef4">@ef4</a>,
  <a href="https://github.com/chrislopresto">@chrislopresto</a>,
  <a href="https://github.com/lukemelia">@lukemelia</a>, and
  <a href="https://github.com/zackbloom">@zackbloom</a> for their help in making
  this library possible!
</p>
